body {
    background-image: url('../images/bearbullimage2.jpg');
    background-size: cover;
}

#video {
    display: flex;
    justify-content: flex-end;
}

#campo-de-batalha {
    display: flex;
    justify-content: space-around;
}

.image-container {
    height: 300px;
    display: flex;
    align-items: center;
    background-color: white;
}

#round-counter {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h4 {
    background-color: white;
    font-size: 22px;
    border-bottom: rgb(114,51,20) solid 2px
}

h5 { 
    background-color: white;
    font-size: 18px;
    margin: 16px;
    border: rgb(114,51,20) solid 2px;
}

.metrics {
    background-color: white;
    padding: 10px;
}

#logo-stock-player, #logo-stock-opponent, .sort-stock-button {
    width: 300px;
}

input[type="radio"] {
    font-size: 20px;
    margin: 10px;
    font-family: monospace
}

.opponent-metrics {
    width: 280px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 33px;
}

h1 {
    font-size: 28px;
    background-color: white;
    text-align: center;
    border-bottom: rgb(114,51,20) solid 2px;
    margin: 10px 0 0;
}

.sort-stock-button {
    margin:5px 0;
    font-size: 25px;
    color: rgb(19,65,101)
}

.sort-stock-button:hover {
    background-color: rgb(19,65,101);
    color: white;
    cursor: pointer
}

#result {
    text-align: center;
    font-size: 50px;
    color: white;
}

#result > img {
    width: 685px;
}

@media (max-width: 850px) {

    #campo-de-batalha {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    .player-container, .opponent-container {
        width: 300px;
        margin: auto;
    }

    #video {
        width: 160px;
        height: 90px;
    } 

    #result > img {
        width: 300px;
    }

    #logo-stock-player, #logo-stock-opponent {
        width: 100px;
    }

    .image-container {
        display: flex;
        justify-content: center;
        height: 120px
    }

    .metrics {
        padding: 1px
    }

    .metrics > div > p, input[type="radio"] {
        font-size: 14px;
    }

    .sort-stock-button {
        font-size: 20px;
    }

    h1 {
        font-size: 20px;
        margin: 4px 0 0;
    }

    h2 {
        font-size: 18px;
        margin: 6px 0;
    }

    h3 {
        font-size: 16px;
        margin: 2px 0;
    }

    h4 {
        font-size: 14px;
    }

    h5 {
        font-size: 12px;
        margin: 4px;
    }

    p {
        font-size: 16px;
    }
    
    #round-value {
        margin: 5px 0
    }
}